In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
d = {}

for file in os.listdir('data'):
    d[file.split('.')[0]] = pd.read_csv(f'data/{file}')
print(len(d))
print(d.keys())

88
dict_keys(['1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'])

In [3]:
d['2010']

,Stage,Winner,General classification,Points classification,Mountains classification,Young rider classification
0,1,Bradley Wiggins,Bradley Wiggins,Bradley Wiggins,not awarded,Richie Porte
1,2,Tyler Farrar,Cadel Evans,Tyler Farrar,Paul Voss,Richie Porte
2,3,Wouter Weylandt,Alexander Vinokourov,Graeme Brown,Paul Voss,Richie Porte
3,4,Liquigas–Doimo,Vincenzo Nibali,Graeme Brown,Paul Voss,Valerio Agnoli
4,5,Jérôme Pineau,Vincenzo Nibali,Jérôme Pineau,Paul Voss,Valerio Agnoli
5,6,Matthew Lloyd,Vincenzo Nibali,Tyler Farrar,Matthew Lloyd,Valerio Agnoli
6,7,Cadel Evans,Alexander Vinokourov,Tyler Farrar,Matthew Lloyd,Richie Porte
7,8,Chris Anker Sørensen,Alexander Vinokourov,Cadel Evans,Matthew Lloyd,Richie Porte
8,9,Matthew Goss,Alexander Vinokourov,Tyler Farrar,Matthew Lloyd,Richie Porte
9,10,Tyler Farrar,Alexander Vinokourov,Tyler Farrar,Matthew Lloyd,Richie Porte
10,11,Evgeni Petrov,Richie Porte,Tyler Farrar,Matthew Lloyd,Richie Porte
11,12,Filippo Pozzato,Richie Porte,Jérôme Pineau,Matthew Lloyd,Richie Porte
12,13,Manuel Belletti,Richie Porte,Jérôme Pineau,Matthew Lloyd,Richie Porte
13,14,Vincenzo Nibali,David Arroyo,Alexander Vinokourov,Matthew Lloyd,Richie Porte
14,15,Ivan Basso,David Arroyo,Cadel Evans,Matthew Lloyd,Richie Porte
15,16,Stefano Garzelli,David Arroyo,Cadel Evans,Matthew Lloyd,Richie Porte
16,17,Damien Monier,David Arroyo,Cadel Evans,Matthew Lloyd,Richie Porte
17,18,André Greipel,David Arroyo,Cadel Evans,Matthew Lloyd,Richie Porte
18,19,Michele Scarponi,Ivan Basso,Cadel Evans,Ivan Basso,Richie Porte
19,20,Johann Tschopp,Ivan Basso,Cadel Evans,Matthew Lloyd,Richie Porte
20,21,Gustav Larsson,Ivan Basso,Cadel Evans,Matthew Lloyd,Richie Porte
21,Final,Final,Ivan Basso,Cadel Evans,Matthew Lloyd,Richie Porte

In [4]:
col_cnt = {}
for year in d:
    for column in d[year].columns:
        if column not in col_cnt:
            col_cnt[column] = 1
        else:
            col_cnt[column] += 1
print(sorted(col_cnt.items(), key=lambda x: x[1], reverse=True))

[('Stage', 88), ('Winner', 88), ('General classification', 88), ('Mountains classification', 86), ('Points classification', 59), ('Team classification', 57), ('Young rider classification', 37), ('Trofeo Fast Team', 18), ('Trofeo Super Team', 14), ('Intergiro classification', 13), ('Best foreign rider', 8), ('General Super Team', 7), ('Best isolati rider', 6), ('Last in General classification', 6), ('Intermediate sprint classification', 6), ('Breakaway classification', 6), ('Best independent rider', 5), ('Group classification', 5), ('Fair play classification', 5), ('Combativity classification', 4), ('Il Trofeo Magno', 3), ('Combination classification', 2), ('Combativity award', 2), ('Liberi classification', 1), ('Best Group rider classification', 1), ('Best non-industrial team rider', 1), ('Italian Team classification', 1), ('Foreign Team classification', 1), ('Trofeo Dolomiti', 1), ('Trofeo Appennini', 1), ('Points classification [24]', 1)]

Leave Stage, Winner, Gen Cl, Mount cl, Point cl, Team cl, Young cl

In [5]:
d['2000'][['Stage', 'Winner']]

    Stage                       Winner
0       P                   Jan Hruška
1       1                Ivan Quaranta
2       2              Cristian Moreni
3       3                  Ján Svorada
4       4              Mario Cipollini
5       5               Danilo Di Luca
6       6              Dmitri Konyshev
7       7               David McKenzie
8       8                  Axel Merckx
9       9         Francesco Casagrande
10     10                Ivan Quaranta
11     11             Víctor Hugo Peña
12     12               Enrico Cassani
13     13            José Luis Rubiera
14     14              Gilberto Simoni
15     15                 Biagio Conte
16     16               Fabrizio Guidi
17     17  Álvaro González de Galdeano
18     18             Stefano Garzelli
19     19             Paolo Lanfranchi
20     20                   Jan Hruška
21     21              Mariano Piccoli
22  Final                        Final

In [6]:
columns = [
    'Stage', 'Winner', 'General classification',
    'Mountains classification', 'Points classification',
    'Team classification', 'Young rider classification',
    'Year'
]
df = pd.DataFrame(columns=columns)

for year in d:
    year_df = d[year]
    available_columns = [col for col in columns if col in year_df.columns]
    year_df_subset = year_df[available_columns].copy()
    year_df_subset['Year'] = year
    df = pd.concat([df, year_df_subset], ignore_index=True)

print(df.head())

  Stage            Winner General classification Mountains classification  \
0     1     Learco Guerra          Learco Guerra                      NaN
1     2      Hermann Buse           Hermann Buse                      NaN
2     3   Fabio Battesini           Hermann Buse                      NaN
3     4     Learco Guerra           Hermann Buse                      NaN
4     5  Raffaele Di Paco           Hermann Buse                      NaN

  Points classification Team classification Young rider classification  Year
0                   NaN                   ?                        NaN  1932
1                   NaN                   ?                        NaN  1932
2                   NaN    Atala-Hutchinson                        NaN  1932
3                   NaN    Atala-Hutchinson                        NaN  1932
4                   NaN    Atala-Hutchinson                        NaN  1932

In [7]:
df[df['Year'] == '2023']

,Stage,Winner,General classification,Mountains classification,Points classification,Team classification,Young rider classification,Year
1931,1,Remco Evenepoel,Remco Evenepoel,Tao Geoghegan Hart,Remco Evenepoel,NaN,Remco Evenepoel,2023
1932,2,Jonathan Milan,Remco Evenepoel,Paul Lapeira,Jonathan Milan,NaN,Remco Evenepoel,2023
1933,3,Michael Matthews,Remco Evenepoel,Thibaut Pinot,Jonathan Milan,NaN,Remco Evenepoel,2023
1934,4,Aurélien Paret-Peintre,Andreas Leknessund,Thibaut Pinot,Jonathan Milan,NaN,Andreas Leknessund,2023
1935,5,Kaden Groves,Andreas Leknessund,Thibaut Pinot,Jonathan Milan,NaN,Andreas Leknessund,2023
1936,6,Mads Pedersen,Andreas Leknessund,Thibaut Pinot,Jonathan Milan,NaN,Andreas Leknessund,2023
1937,7,Davide Bais,Andreas Leknessund,Davide Bais,Jonathan Milan,NaN,Andreas Leknessund,2023
1938,8,Ben Healy,Andreas Leknessund,Davide Bais,Jonathan Milan,NaN,Andreas Leknessund,2023
1939,9,Remco Evenepoel,Remco Evenepoel,Davide Bais,Jonathan Milan,NaN,Remco Evenepoel,2023
1940,10,Magnus Cort,Geraint Thomas,Davide Bais,Jonathan Milan,NaN,João Almeida,2023
1941,11,Pascal Ackermann,Geraint Thomas,Davide Bais,Jonathan Milan,NaN,João Almeida,2023
1942,12,Nico Denz,Geraint Thomas,Davide Bais,Jonathan Milan,NaN,João Almeida,2023
1943,13,Einer Rubio,Geraint Thomas,Thibaut Pinot,Jonathan Milan,NaN,João Almeida,2023
1944,14,Nico Denz,Bruno Armirail,Davide Bais,Jonathan Milan,NaN,João Almeida,2023
1945,15,Brandon McNulty,Bruno Armirail,Davide Bais,Jonathan Milan,NaN,João Almeida,2023
1946,16,João Almeida,Geraint Thomas,Ben Healy,Jonathan Milan,NaN,João Almeida,2023
1947,17,Alberto Dainese,Geraint Thomas,Ben Healy,Jonathan Milan,NaN,João Almeida,2023
1948,18,Filippo Zana,Geraint Thomas,Thibaut Pinot,Jonathan Milan,NaN,João Almeida,2023
1949,19,Santiago Buitrago,Geraint Thomas,Thibaut Pinot,Jonathan Milan,NaN,João Almeida,2023
1950,20,Primož Roglič,Primož Roglič,Thibaut Pinot,Jonathan Milan,NaN,João Almeida,2023
1951,21,Mark Cavendish,Primož Roglič,Thibaut Pinot,Jonathan Milan,NaN,João Almeida,2023
1952,Final,Final,Primož Roglič,Thibaut Pinot,Jonathan Milan,NaN,João Almeida,2023

1. General classification

In [32]:
df_gen = df[['Year', 'Stage', 'Winner', 'General classification']]
df_gen['Year'] = df_gen['Year'].astype(int)
df = df[df['Stage'] != 'F']
df_gen

C:\Users\bemyp\AppData\Local\Temp\ipykernel_476\3573295064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gen['Year'] = df_gen['Year'].astype(int)

      Year  Stage            Winner General classification
0     1932      1     Learco Guerra          Learco Guerra
1     1932      2      Hermann Buse           Hermann Buse
2     1932      3   Fabio Battesini           Hermann Buse
3     1932      4     Learco Guerra           Hermann Buse
4     1932      5  Raffaele Di Paco           Hermann Buse
...    ...    ...               ...                    ...
1970  2024     18       Tim Merlier          Tadej Pogačar
1971  2024     19   Andrea Vendrame          Tadej Pogačar
1972  2024     20     Tadej Pogačar          Tadej Pogačar
1973  2024     21       Tim Merlier          Tadej Pogačar
1974  2024  Final             Final          Tadej Pogačar

[1975 rows x 4 columns]

In [33]:
leaders_count_per_year = df_gen.groupby('Year')['General classification'].nunique().reset_index()
leaders_count_per_year.columns = ['Year', 'Leader Count']

leaders_count_per_year.head()

   Year  Leader Count
0  1932             3
1  1933             3
2  1934             3
3  1935             4
4  1936             5

In [36]:
grouped_by_leader_count = leaders_count_per_year.groupby('Leader Count').size().reset_index(name='Years Count')

grouped_by_leader_count

   Leader Count  Years Count
0             1            1
1             2            7
2             3           16
3             4           22
4             5           22
5             6           12
6             7            6
7             8            2

In [37]:
leaders_count_per_year[leaders_count_per_year['Leader Count'] == 1]

    Year  Leader Count
53  1990             1

In [42]:
def plot_leadership_timeline(df_gen, year):
    df_year = df_gen[df_gen['Year'] == year]

    stages = df_year['Stage']
    leaders = df_year['General classification']

    unique_leaders = leaders.unique()
    color_map = {leader: plt.cm.Set2(i % 8) for i, leader in enumerate(unique_leaders)}  # Set2 provides 8 distinct muted colors
    colors = [color_map[leader] for leader in leaders]

    plt.style.use('dark_background')

    #plt.ioff()

    fig, ax = plt.subplots(figsize=(12, 2))

    ax.bar(stages, [1] * len(stages), color=colors, edgecolor='none', width=1.0)  # Remove edgecolor

    ax.set_yticks([])

    ax.set_xlabel('Stage', fontsize=14, color='white')
    ax.set_title(f"Giro d'Italia {year} - Leadership Timeline", fontsize=16, color='white')

    final_leader = leaders.iloc[-1]
    ax.text(1.05, 1.10, f"Winner: {final_leader}", ha='left', va='top', fontsize=10, color='white', transform=ax.transAxes)

    for spine in ax.spines.values():
        spine.set_visible(False)

    ax.grid(True, color='white', linestyle='--', linewidth=0.5)

    handles = [plt.Rectangle((0,0),1,1, color=color_map[leader]) for leader in unique_leaders]
    ax.legend(handles, unique_leaders, bbox_to_anchor=(1.05, 1), loc='upper left', title='Leader', fontsize=10)

    plt.tight_layout()
    plt.savefig(f'graphs/{year}.png', format='png', dpi=300)

    plt.close(fig)

In [ ]:
for year in d:
    plot_leadership_timeline(df_gen, int(year))
#plot_leadership_timeline(df_gen, 1932)